body {
  color: rgb(64, 64, 64);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: flex;
  justify-content: center;
}

nav ul li a {
  color: rgb(64, 64, 64);
  font-family: 'Courier New', monospace;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover { /* snappend kleurvlak voor navigatie */
  background-color: rgb(160, 225, 255);
}

nav ul li a.active { /* vast kleurvlak voor actieve pagina */
  background-color: rgb(255, 145, 0);
  color: white; 
}

footer {
  padding: 20px;
  text-align: right;
  font-size: 14px;
}

footer a {
  color: rgb(64, 64, 64);
}

/* Menu-items onder elkaar op kleine schermen */
@media (max-width: 720px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    display: block;
    width: 100%;
  }

}

@media (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: clamp(15px, 75vw, 100px); /* Dynamische ruimte tussen items */
  }
}